body {background-color: rgb(98, 178, 207);}
h1 {text-align:center; font-weight:bold;}
h2 {text-decoration: underline;}
.comment {color: green; font-style: italic; max-width:900px;}
.ex {text-align:left; font-family:'Times New Roman', Times, serif;}
.peaceful {background-color: rgb(200, 230, 201); font-family:Arial, Helvetica, sans-serif;}
.centurion {text-align:center; font-family:Arial, Helvetica, sans-serif;max-width:900px;}
.so {font-family: 'Courier New', Courier, monospace; text-align: center;}